@import url(../fonts/font.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
  height: 100%;
}

.body {
  font-family: Raleway, sans-serif;
  height: 100%;
  position: relative;
  min-width: 800px;
  display: flex;
}

.body::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.30);
  z-index: 1;

}

video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  color: #000;
  text-align: center;
  font-size: 116px;
  font-weight: 800;
  letter-spacing: 4.06px;
  text-transform: uppercase;
  max-width: 740px;
  margin: 0 auto;
  z-index: 1;
  margin-top: 60px;
}

.title:hover {
  color: #4C4C4C;
  cursor: default;
}

.title::after {
  content: '*';
  position: relative;
}

.title:hover::before {
  padding: 36px 44px;
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  top: 182px;
  right: 20px;
  white-space: pre;
  position: absolute;
  max-width: 760px;
  border-radius: 20px;
  border: 2px solid #000;
  box-shadow: 0 12px 0 #000;
  background: #FFF;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  font-style: normal;
  text-align: left;
  text-transform: initial;
}